<mat-toolbar color="primary" class="custom-header">
  <a routerLink="/" class="title" aria-label="Home">
    <span>Chemical Compounds</span>
  </a>

  <!-- Navigation Links-->
  <div class="main-nav-container">
    <nav class="main-nav">
      <a mat-button routerLink="/" class="nav-link" aria-label="Home">
        <mat-icon class="nav-icon">home</mat-icon>
        <span class="nav-text desktop-only">Home</span>
      </a>
      <a mat-button routerLink="/edit" class="nav-link" aria-label="Add Compound">
        <mat-icon class="nav-icon">add</mat-icon>
        <span class="nav-text desktop-only">Add Compound</span>
      </a>
    </nav>
  </div>

  <span class="spacer"></span>

  <!-- Login Icon -->
  <a mat-icon-button routerLink="/login" class="login-icon" aria-label="Login">
    <mat-icon>login</mat-icon>
  </a>
</mat-toolbar>

